<div id="bottomMenu" class="stick-bottom full-width">
    <ul class="onglets-wrapper" style="color: {{changeHexLuminosity party.color -0.2}};">
        <li><a id="onglet-bobine" class="big-icon-ahead icon-cassette" href="#/party/{{partyId}}"><span>Bobine</span></a></li>
        <li><a id="onglet-timeline" class="big-icon-ahead icon-photo" href="#/party/{{partyId}}/timeline/"><span>Timeline</span></a></li>
        <li><a id="onglet-people" class="big-icon-ahead icon-reseau" href="#/party/{{partyId}}/people/"><span>People</span></a></li>
        <li><a id="onglet-souvenir" class="big-icon-ahead icon-disquette" href="#/party/{{partyId}}/souvenir/"><span>Souvenir</span></a></li>
    </ul>
</div>