<div class="party-wrapper souvenir-wrapper" style="background-color: {{party.color}};">
    <div class="timeline-infobox padding-std">
        <div class="overlay mid-transparent" style="background-color: {{party.color}}"></div>
        <img class="unskew-content" src="{{party.logo}}" alt=""/>
        <div id="party-infos" class="relative padding-sml-t text-align-left" style="display: none;">
            <p class="inverted margin-none-b">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, eos, sequi! Accusamus at dolor eos laboriosam nemo quis similique? Architecto beatae blanditiis dignissimos eum laudantium non nulla sed vel. Voluptate! <br /><br/>
                <i class="icon-map-marker"></i> {{party.location}} <br />
                <i class="icon-calendar"></i> {{party.date}}
            </p>
        </div>
        <div class="btn btn-expand" data-to-expand="#party-infos"></div>
    </div>
    
    <div class="maxi-size">
        <div class="flex-wrapper souvenir-content">
            <div class="item bkg-color-lightest">
                <h2 class="fancy" style="color: {{party.color}};">Affiche imprimée</h2>

                <p>Recevez chez vous le poster personnalisé de votre soirée au format 60*80cm.</p>
                
                <p>30€ (frais d'envoi non inclus) avec notre partenaire <em>Publishop</em></p>

                <a class="btn btn-primary">Commander une affiche</a>
            </div>
            <div class="item bkg-color-lightest">
                <h2 class="fancy" style="color: {{party.color}};">Wallpaper HD</h2>

                <p>Grâce à ces fonds d'écran uniques et personnalisés : vous pourrez vous remémorer une soirée intense à chaque consultation de votre périphérique !</p>

                <div class="flex-wrapper">
                    <a class="btn" href="">2880*1800</a>
                    <a class="btn" href="">1920*1080</a>
                    <a class="btn" href="">1440*900</a>
                    <a class="btn" href="">1280*1024</a>
                    <a class="btn" href="">1280*720</a>
                    <a class="btn" href="">480*640</a>
                </div>
            </div>
            <div class="item bkg-color-lightest">
                <h2 class="fancy" style="color: {{party.color}};">Application Cassette</h2>

                <p>Pour garder vos souvenirs disponibles même hors connexion !</p>

                <a href="http://www.apple.com/"><img src="images/apple_store.png" alt=""/></a>
                <a href="http://www.goolge.com/"><img src="images/google_play.png" alt=""/></a>
            </div>
        </div>
    </div>
</div>

{{> bottomMenu}}