<div class="party-wrapper timeline-wrapper" style="background-color: {{party.color}};">
    
    <div class="btn-scroll scroll-left icon-reculer"></div>
    <div class="btn-scroll scroll-right icon-avancer"></div>
    
    <div class="timeline-infobox padding-std">
        <div class="overlay mid-transparent" style="background-color: {{party.color}}"></div>
        <img class="unskew-content" src="{{party.logo}}" alt=""/>
        <div id="party-infos" class="relative padding-sml-t text-align-left" style="display: none;">
            <p class="inverted margin-none-b">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, eos, sequi! Accusamus at dolor eos laboriosam nemo quis similique? Architecto beatae blanditiis dignissimos eum laudantium non nulla sed vel. Voluptate! <br /><br/>
                <i class="icon-map-marker"></i> {{party.location}} <br />
                <i class="icon-calendar"></i> {{party.date}}
            </p>
        </div>
        <div class="btn btn-expand" data-to-expand="#party-infos"></div>
    </div>
    
    <div class="timeline stick-bottom">
        <svg viewBox="0 0 1000 400" preserveAspectRatio="none" class="graph" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <g class="surfaces">
                <path class="first_set" d="M0,1000 
                {{#each party.movements}}
                    L{{indexToData @index ../party.movements.length 1000}},{{percentageToData this 400 reverse=true }}{{!L0,192 L259,91 L405,179 L551,300 L751,100 L1000,204}}
                {{/each}}
                L1000,1000 Z"></path>
            </g>
        </svg>
        {{#each party.data }}
            {{#if date }}
                <div class="timeline-item" data-type="{{type}}">
                    <span>{{toTime date }}</span>

                    
                        {{#compare type 'picture' }}
                            <div class="timeline-media-content">
                                <img src="{{ src }}" alt=""/>
                                <span class="btn-icon icon-appareilphoto stick-bottom toggle-tooltip {{#if highlighted }}highlighted{{/if}}">
                                    <div class="item-tooltip">
                                        <ul>
                                            <li class="icon-etoile toggle-highlight" data-item-id="{{@index}}">Mettre en avant</li>
                                            <li class="icon-bulle toggle-comments" data-item-id="{{@index}}">Voir les commentaires</li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        {{/compare}}

                        {{#compare type 'video' }}
                            <div class="timeline-media-content">
                                <video src="{{ src }}" autoplay loop muted>Ici la description alternative</video>
                                <span class="btn-icon icon-camera stick-bottom toggle-tooltip {{#if highlighted }}highlighted{{/if}}">
                                    <div class="item-tooltip">
                                        <ul>
                                            <li class="icon-etoile toggle-highlight" data-item-id="{{@index}}">Mettre en avant</li>
                                            <li class="icon-bulle toggle-comments" data-item-id="{{@index}}">Voir les commentaires</li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        {{/compare}}

                        {{#compare type 'ponctual'}}
                            <div class="timeline-item-content">
                                <span class="timeline-item-title">
                                    {{#compare value 'beer'}}
                                        Boisson<br />{{ name }}
                                    {{/compare}}

                                    {{#compare value 'meet'}}
                                        Rencontre avec<br />{{ name }}
                                    {{/compare}}
                                </span>
                                <img src="{{ src }}" alt=""/>
                                <span class="btn-icon {{#compare value 'meet'}} icon-rencontre {{/compare}} {{#compare value 'beer'}} icon-drink{{/compare}} stick-bottom toggle-tooltip {{#if highlighted }}highlighted{{/if}}">
                                    <div class="item-tooltip">
                                        <ul>
                                            <li class="icon-etoile toggle-highlight" data-item-id="{{@index}}">Mettre en avant</li>
                                            <li class="icon-bulle toggle-comments" data-item-id="{{@index}}">Voir les commentaires</li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        {{/compare}}

                    {{#compare type 'music'}}
                        <div class="timeline-item-content">
                                <span class="timeline-item-title">
                                    A dansé sur<br />{{ name }}
                                </span>
                            <img class="music-cover" src="{{ src }}" alt=""/>
                                <span class="btn-icon icon-note-musique stick-bottom toggle-tooltip {{#if highlighted }}highlighted{{/if}}">
                                    <div class="item-tooltip">
                                        <ul>
                                            <li class="icon-etoile toggle-highlight" data-item-id="{{@index}}">Mettre en avant</li>
                                            <li class="icon-bulle toggle-comments" data-item-id="{{@index}}">Voir les commentaires</li>
                                        </ul>
                                    </div>
                                </span>
                        </div>
                    {{/compare}}

                        {{#compare type 'movement'}}
                            Movement
                        {{/compare}}

                </div>
            {{/if}}
        {{/each}}
    </div>
</div>

{{> bottomMenu}}