<div class="timeline-wrapper" style="background-color: {{party.color}};">
    <div class="timeline stick-bottom">
        <svg viewBox="0 0 1000 400" preserveAspectRatio="none" class="graph" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <g class="surfaces">
                <path class="first_set" d="M0,1000 
                {{#each party.movements}}
                    L{{indexToData @index ../party.movements.length 1000}},{{percentageToData this 400 reverse=true }}{{!L0,192 L259,91 L405,179 L551,300 L751,100 L1000,204}}
                {{/each}}
                L1000,1000 Z"></path>
            </g>
        </svg>
        {{#each party.data }}
            {{#if date }}
                <div class="timeline-item">
                    <span>{{toTime date }}</span>

                    
                        {{#compare type 'picture' }}
                            <div class="timeline-media-content">
                                <img src="{{ src }}" alt=""/>
                                <span class="btn-icon icon-appareilphoto stick-bottom toggle-tooltip {{#if highlighted }}highlighted{{/if}}">
                                    <div class="item-tooltip">
                                        <ul>
                                            <li class="icon-etoile toggle-highlight" data-item-id="{{@index}}">Mettre en avant</li>
                                            <li class="icon-bulle toggle-comments" data-item-id="{{@index}}">Voir les commentaires</li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        {{/compare}}

                        {{#compare type 'video' }}
                            <div class="timeline-media-content">
                                <video controls src="{{ src }}">Ici la description alternative</video>
                                <span class="btn-icon icon-camera stick-bottom toggle-tooltip {{#if highlighted }}highlighted{{/if}}">
                                    <div class="item-tooltip">
                                        <ul>
                                            <li class="icon-etoile toggle-highlight" data-item-id="{{@index}}">Mettre en avant</li>
                                            <li class="icon-bulle toggle-comments" data-item-id="{{@index}}">Voir les commentaires</li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        {{/compare}}

                        {{#compare type 'ponctual'}}
                            <div class="timeline-item-content">
                                <span class="timeline-item-title">
                                    {{#compare value 'beer'}}
                                        Boisson<br />{{ name }}
                                    {{/compare}}

                                    {{#compare value 'meet'}}
                                        Rencontre avec<br />{{ name }}
                                    {{/compare}}
                                </span>
                                <img src="{{ src }}" alt=""/>
                                <span class="btn-icon {{#compare value 'meet'}} icon-rencontre {{/compare}} {{#compare value 'beer'}} icon-drink{{/compare}} stick-bottom toggle-tooltip {{#if highlighted }}highlighted{{/if}}">
                                    <div class="item-tooltip">
                                        <ul>
                                            <li class="icon-etoile toggle-highlight" data-item-id="{{@index}}">Mettre en avant</li>
                                            <li class="icon-bulle toggle-comments" data-item-id="{{@index}}">Voir les commentaires</li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        {{/compare}}

                        {{#compare type 'movement'}}
                            Movement
                        {{/compare}}

                </div>
            {{/if}}
        {{/each}}
    </div>
</div>

{{> bottomMenu}}