<div class="timeline-wrapper">
    <div class="timeline stick-bottom">
        {{#each party.data }}
            {{#if date }}
                <div class="timeline-item">
                    {{toTime date }}

                    
                        {{#compare type 'picture' }}
                            <div class="timeline-media-content">
                                <img src="{{ src }}" alt=""/>
                                <span class="btn-icon icon-appareilphoto stick-bottom toggle-tooltip {{#if highlighted }}highlighted{{/if}}">
                                    <div class="item-tooltip">
                                        <ul>
                                            <li class="icon-etoile toggle-highlight" data-item-id="{{@index}}">Mettre en avant</li>
                                            <li class="icon-bulle toggle-comments" data-item-id="{{@index}}">Voir les commentaires</li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        {{/compare}}

                        {{#compare type 'video' }}
                            <div class="timeline-media-content">
                                <video controls src="{{ src }}">Ici la description alternative</video>
                                <span class="btn-icon icon-camera stick-bottom toggle-tooltip {{#if highlighted }}highlighted{{/if}}">
                                    <div class="item-tooltip">
                                        <ul>
                                            <li class="icon-etoile toggle-highlight" data-item-id="{{@index}}">Mettre en avant</li>
                                            <li class="icon-bulle toggle-comments" data-item-id="{{@index}}">Voir les commentaires</li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        {{/compare}}

                        {{#compare type 'ponctual'}}
                            <div class="timeline-item-content">
                                <span class="timeline-item-title">
                                    {{#compare value 'beer'}}
                                        Boisson<br />{{ name }}
                                    {{/compare}}

                                    {{#compare value 'meet'}}
                                        Rencontre avec<br />{{ name }}
                                    {{/compare}}
                                </span>
                                <img src="{{ src }}" alt=""/>
                                <span class="btn-icon {{#compare value 'meet'}} icon-rencontre {{/compare}} {{#compare value 'beer'}} icon-drink{{/compare}} stick-bottom toggle-tooltip {{#if highlighted }}highlighted{{/if}}">
                                    <div class="item-tooltip">
                                        <ul>
                                            <li class="icon-etoile toggle-highlight" data-item-id="{{@index}}">Mettre en avant</li>
                                            <li class="icon-bulle toggle-comments" data-item-id="{{@index}}">Voir les commentaires</li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        {{/compare}}

                        {{#compare type 'movement'}}
                            Movement
                        {{/compare}}

                </div>
            {{/if}}
        {{/each}}
    </div>
</div>

{{> bottomMenu}}