<div class="comments-wrapper">
    {{#if src }}<img src="{{ src }}" alt="" class="margin-std-b"/>{{/if}}
    
    {{#each comments }}
        <div class="comments-item">
            <img src="{{src}}" class="circled comments-avatar"/>
            <h3>{{ name }}</h3> <span class="comments-date">le {{toDate date}} à {{toTime date}}</span>
            <p class="bkg-color-light padding-sml margin-sml-t">{{ content }}</p>
        </div>
    {{/each}}

    <div class="comments-post hidden">
        <h2>Laissez un mot !</h2>
        
        <div class="input-and-submit">
            <textarea class="full-width" placeholder="Votre commentaire"></textarea>
            <a class="btn btn-primary submit-comment"><i class="icon-arrow-right"></i></a>
        </div>
    </div>
</div>